#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: rgb(218, 218, 218);
}

h1 {
  color: purple;
  text-align: center;
  text-shadow: 0 0 3px rgb(124, 124, 124);
}

p {
  font-family: verdana;
  font-size: 20px;
}